body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 0 200px;
 
    
}
.r{
    color: red;
}
.mary{
color: #181818;
font-size: 45px;
font-style: normal;
font-weight:800;


}
.nav-btn{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
   
}
nav > ul{
    display: flex;
    align-items: center;
    gap: 51px;
}
nav  li{
    list-style: none;
    
}
nav a{
    text-decoration: none;
    color: black;
}
.h{
    background: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}     
.banner{
    padding: 30px 30px 0px 150px ;
    display: flex;
    justify-content: space-between;
}        
.banner-btn{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    
    padding: 15px 35px;
    width: 200px;
    height: 64px;
   
}  
.hardy{
    width: 584px;
    height: 676px;
}
.banner-title{
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;

}
.banner-dis{
    color: var(--dark-03, #757575);
    width: 585px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.hi{
    color: var(--dark-02, #474747);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}
.banner-btn2{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
}
/* About Section */

.about-section{
    margin: 130px 0;
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}
.about-foot-sec{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 179px 131px 179px;
  text-align: center;

}
.about-me{
    color: var(#181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about-des{
    color:  #757575;
    text-align: center;
    font-size: 18px;
   
}